body {
  background-color: papayawhip;
}

h1 {
  color: slateblue;
  text-align: right;
  font-family: helvetica;
  font-size: 60px;
}

p {
  color: maroon;
  font-family: verdana;
  font-size: 24px;
}


ul {

}
